body {
  /* background: navy; */
  background: #2E8BC0;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 30px;
  text-align: center;
  color: bisque;
  color: #ECF87F;
  font-size: 28px;

}

#wrapper {
  display: block;
  margin: 0 auto;
  width: 80%;
  text-align: center;


}
figure {
  width: 25%;
  margin-left: 2%;
  display: inline-block;
  vertical-align: top;
  padding: 5px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 5px;
  position: relative;
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 500ms, opacity 500ms;
}
.fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 500ms;
}

img {
  width: 100%;
}

figcaption {
  opacity: 0;
  position: absolute;
  border-radius: 3px;
  background: #4C5270;
  color: white;
  z-index: 5;
  padding: 15px;
  text-align: justify;
}